@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
}
<h2>Contact Us</h2>
<p>Email: training@college.com</p>
<p>Phone: 9876543210</p>

