@*
    
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "COURSE";
}
<h2>Courses Offered</h2>
<ul>
    <li>ASP.NET Core MVC</li>
    <li>Java Full Stack</li>
    <li>Python Programming</li>
</ul>
