@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "HOME";
}
<h2>Welcome to Training Portal</h2>
<p>This portal provides information about training programs.</p>
